.ExportDropdown {
	box-sizing: border-box;

	display: inline-block;

  position: relative;
  
  & > .Menu {
    position: absolute;

    top: calc(100% + 6px);

    left: 0;

    min-width: 200px;
  }
}
