.Label {
  box-sizing: border-box;

  position: relative;

  display: block;

  color: currentColor;

  font-size: var(--app-base-font-size);

  &[aria-invalid] {
    color: var(--invalid-color);
  }
}
