.ListboxOption {
  box-sizing: border-box;

  position: relative;

  display: flex;

  background-color: var(--component-background-color);

  height: 40px;

  align-items: center;

  justify-items: center;

  padding: 0 10px;

  &:not(:disabled) {
    cursor: pointer;
  }

  &[aria-selected="true"] {
    color: var(--app-info-color);
  }

  &:focus-within {
    outline: 2px solid var(--app-info-color);

    outline-offset: -1px;

    z-index: 2;
  }

  &[aria-disabled="true"] {
    color: #999;
  }
}