.Alert {
  box-sizing: border-box;

  position: relative;

  display: flex;

  align-items: center;

  padding: 0 16px;

  color: var(--app-text-color);

  background-color: var(--component-background-color);

  border: 1px solid var(--component-border-color);

  border-radius: 4px;

  font-size: var(--app-base-font-size);

  min-height: 60px;

  min-width: 290px;

  &[dir="rtl"] {
    direction: rtl;

    text-align: right;
  }

  &[data-kind="info"] {
    border-color: var(--app-info-color);
  }

  &[data-kind="warning"] {
    border-color: var(--app-warning-color);
  }

  &[data-kind="error"] {
    border-color: var(--app-error-color);
  }

  &[data-kind="success"] {
    border-color: var(--app-success-color);
  }
}
