.Swatch {
  box-sizing: border-box;

  position: relative;

  display: block;

  width: 24px;

  height: 24px;



  cursor: pointer;

  border: 1px solid transparent;

  border-radius: 4px;

  outline: 0;

  &::before {
    content: "";

    box-sizing: border-box;

    position: absolute;

    display: block;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    border-radius: 4px;

    background-image: url('data:image/png;base64,R0lGODdhCgAKAPAAAOXl5f///ywAAAAACgAKAEACEIQdqXt9GxyETrI279OIgwIAOw==');

    background-size: 10px;

    background-repeat: repeat;

    z-index: -1;
  }

  &:focus {
    outline: 2px solid var(--app-info-color);

    outline-offset: -1px;

    z-index: 2;
  }
}