.AccordionHeader {
	box-sizing: border-box;

	position: relative;

	display: block;

	& > .Button {
		width: 100%;

		justify-content: flex-start;

		justify-items: flex-start;

		text-align: left;
	}
}
