.Checkbox {
  box-sizing: border-box;

  position: relative;

  display: inline-block;

  appearance: none;

  width: 1em;

  height: 1em;

  background-color: var(--component-background-color);

  border: 1px solid var(--component-border-color);

  border-radius: 4px;

  text-align: center;

  cursor: pointer;

  &:checked:before {
    content: "✔";

    color: var(--app-info-color);

    line-height: 1em;
  }

  &:indeterminate:before {
    content: "⎯";

    color: var(--app-info-color);

    line-height: 0.9em;

    font-size: 0.9em;
  }

  &:focus {
    outline: 2px solid var(--app-info-color);

    outline-offset: -1px;

    z-index: 2;
  }

  &:disabled {
    background-color: var(--component-border-color);

    cursor: default;
  }

  &[role="presentation"],
  &[role="none"] {
    pointer-events: none;
  }
}
