.Dialog {
  box-sizing: border-box;

  position: relative;

  display: block;

  border: 1px solid var(--component-border-color);

  border-radius: 4px;

  padding: 16px;

  & > .DialogHeader {
    border-top: 0;

    border-left: 0;

    border-right: 0;

    margin-left: -16px;

    margin-right: -16px;

    margin-top: -16px;

    margin-bottom: 20px;
  }
}
