.Track {
   box-sizing: border-box;

   position: relative;

   display: block;

   width: 100%;

   height: 4px;

   background: var(--gray-60);

   &[aria-orientation="vertical"] {
      width: 4px;

      height: 100%;

      margin: 0 2px;
   }

   .Steps {
      width: 100%;

      height: 100%;
   }
}