.Listbox {
  box-sizing: border-box;

  position: relative;

  display: flex;

  flex-direction: column;

  list-style: none;

  margin: 0;

  padding: 0;

  user-select: none;

  height: 400px;

  overflow-y: auto;

  &[aria-orientation="horizontal"] {
    flex-direction: row;
  }
}