.CodeBlock {
  box-sizing: border-box;

  position: relative;

  display: flex;

  flex-direction: column;

  margin: 0;

  border: 1px solid var(--component-border-color);

  border-radius: 4px;

  & > pre {
    box-sizing: border-box;

    position: relative;

    display: flex;

    background-color: var(--hljs-background-color);

    color: var(--hljs-color);

    border-radius: 4px;

    margin: 0;

    overflow-y: auto;

    & > code {
      box-sizing: border-box;

      overflow-x: auto;

      overflow-y: visible;

      padding: 10px;

      height: 100%;

      tab-size: 1em;
    }

    & > .CodeBlockLines {
      box-sizing: border-box;

      position: relative;

      display: flex;

      flex-direction: column;

      background-color: var(--hljs-background-color);

      color: var(--hljs-color);

      padding: 10px;

      user-select: none;

      & + code {
        padding: 10px;
      }
    }
  }

  & > .CodeBlockFooter {
    box-sizing: border-box;

    position: relative;

    display: flex;

    background-color: #2E3541;

    padding: 5px 10px;

    border-top: 1px solid var(--component-border-color);

    & > .IconButton {
      width: 24px;

      height: 24px;

      min-height: unset;
    }
  }

  .hljs-keyword {
    color: var(--hljs-keyword);
  }

  .hljs-built_in {
    color: var(--hljs-built_in);
  }

  .hljs-type {
    color: var(--hljs-type);
  }

  .hljs-literal {
    color: var(--hljs-literal);
  }

  .hljs-number {
    color: var(--hljs-number);
  }

  .hljs-regexp {
    color: var(--hljs-regexp);
  }

  .hljs-string {
    color: var(--hljs-string);
  }

  .hljs-subst {
    color: var(--hljs-subst);
  }

  .hljs-symbol {
    color: var(--hljs-symbol);
  }

  .hljs-class {
    color: var(--hljs-class);
  }

  .hljs-function {
    color: var(--hljs-function);
  }

  .hljs-title {
    color: var(--hljs-title);
  }

  .hljs-params {
    color: var(--hljs-params);
  }

  .hljs-comment {
    color: var(--hljs-comment);
  }

  .hljs-doctag {
    color: var(--hljs-doctag);
  }

  .hljs-meta {
    color: var(--hljs-meta);
  }

  .hljs-meta-keyword {
    color: var(--hljs-meta-keyword);
  }

  .hljs-meta-string {
    color: var(--hljs-meta-string);
  }

  .hljs-section {
    color: var(--hljs-section);
  }

  .hljs-tag {
    color: var(--hljs-tag);
  }

  .hljs-name {
    color: var(--hljs-name);
  }

  .hljs-builtin-name {
    color: var(--hljs-builtin-name);
  }

  .hljs-attr {
    color: var(--hljs-attr);
  }

  .hljs-attribute {
    color: var(--hljs-attribute);
  }

  .hljs-variable {
    color: var(--hljs-variable);
  }

  .hljs-bullet {
    color: var(--hljs-bullet);
  }

  .hljs-code {
    color: var(--hljs-code);
  }

  .hljs-emphasis {
    color: var(--hljs-emphasis);
  }

  .hljs-strong {
    color: var(--hljs-strong);
  }

  .hljs-formula {
    color: var(--hljs-formula);
  }

  .hljs-link {
    color: var(--hljs-link);
  }

  .hljs-quote {
    color: var(--hljs-quote);
  }

  .hljs-selector-tag {
    color: var(--hljs-selector-tag);
  }

  .hljs-selector-id {
    color: var(--hljs-selector-id);
  }

  .hljs-selector-class {
    color: var(--hljs-selector-class);
  }

  .hljs-selector-attr {
    color: var(--hljs-selector-attr);
  }

  .hljs-selector-pseudo {
    color: var(--hljs-selector-pseudo);
  }

  .hljs-template-tag {
    color: var(--hljs-template-tag);
  }

  .hljs-template-variable {
    color: var(--hljs-template-variable);
  }
}
